<div class="lang-selector">
  <a href="../index.html" class="label--lang">
    <img src="../../img/be.png" alt="be" width="10px" class="margin-right-s">
    <span style="height: 20px;">NL</span>
  </a>
  <a href="en/index.html" class="label--lang">
    <img src="../../img/uk.png" alt="uk" width="10px" class="margin-right-s">
    <span style="height: 20px;">EN</span>
  </a>
</div>
<div class="container">
  <nav class="menu">
    <div class="menu-header-wrapper">
      <div class="menu-header">
        <a href="">
          <div>
            <h1 class="text-center">Marjo Lebbe</h1>
            <h2>Equine Watercolour Artist</h2>
          </div>
        </a>
      </div>
      <div class="menu-list-wrapper">
        <ul class="menu-list onlyGTtablet">
          <li class="menu-listitem"><a href="" class="menu-link bold">home</a></li>
          <li class="menu-listitem"><a href="views/gallery.html" class="menu-link">gallery</a></li>
          <li class="menu-listitem"><a href="views/about.html" class="menu-link">bio</a></li>
          <li class="menu-listitem"><a href="views/proces.html" class="menu-link">proces</a></li>
          <li class="menu-listitem"><a href="views/expo.html" class="menu-link">expo</a></li>
          <li class="menu-listitem">
            <a href="https://shop.marjolebbeaquarel.be" class="menu-link" target="_blank">shop</a>
          </li>
          <li class="menu-listitem"><a href="views/contact.html" class="menu-link">contact</a></li>
        </ul>
        <ul class="menu-list onlytablet">
          <li class="menu-listitem"><a href="" class="menu-link bold">home</a></li>
          <li class="menu-listitem"><a href="views/gallery.html" class="menu-link">gallery</a></li>
          <li class="menu-listitem"><a href="views/proces.html" class="menu-link">proces</a></li>
          <li class="menu-listitem"><a href="views/about.html" class="menu-link">bio</a></li>
        </ul>
        <ul class="menu-list onlytablet">
          <li class="menu-listitem"><a href="views/expo.html" class="menu-link">expo</a></li>
          <li class="menu-listitem">
            <a href="https://shop.marjolebbeaquarel.be" class="menu-link" target="_blank">shop</a>
          </li>
          <li class="menu-listitem"><a href="views/contact.html" class="menu-link">contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
