// BREAKPOINTS
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

// COLORS
$white: #FAFAFA;
$white-tinted: #F5F5F5;
$black: #212121;
$black-background: #212121;
$font-greyed: #9E9E9E;
$lightest-orange: #FFCCBC;
$blue-dark: rgba(4, 21, 44, 1);
$blue-dark-transparant: rgba(4, 21, 44, 0.8);

// VARIABLES
$container: 85%;
$carousel-height: 400px;
$textsize-normal: 20px;
$textsize-small: 18px;

// SPACINGS
$spacing-s: 10px;
$spacing-m: 25px;
$spacing-l: 50px;
$spacing-xl: 100px;
$spacing-xxl: 200px;
