<div class="onlyGTtablet">
  <div class="jarallax">
    <img class="jarallax-img" src="../../assets/img/prlx-hor/dubai_me.jpg" alt="dubai_me">
  </div>

  <div class="margin-top-l margin-bottom-l">
    <div class="flex justify-center margin-bottom-l">
      <h5>Aquarel op canvas voor
        <a href="https://www.instagram.com/dxbhorses/?igshid=18ww1ftiyu0sv" class="flex justify-center">
          DXB Horses Dubai
        </a>
      </h5>
    </div>
    <iframe class="timelapse padding-right-l padding-left-l"
      src="https://www.youtube.com/embed/qjj8JC7QTGY?autoplay=1&mute=1" autoplay mute>
    </iframe>
  </div>

  <div class="jarallax">
    <img class="jarallax-img" src="../../assets/img/prlx-hor/horse_friesian_art.jpg" alt="ponypaard">
  </div>

  <div class="flex column items-center margin-top-xl margin-bottom-xl">
    <h5 class="margin-left-s margin-right-s text-center">
      "Balans vinden tussen mijn jobs als dierenarts en kunstenaar was altijd een droom van mij. Vandaag de dag ben ik
      naast paarden arts ook aquarel kunstenares in opdracht. Ik ben enorm dankbaar dat ik een manier heb gevonden om
      mijn 2 levensdoelen te combineren in 1 passie voor paarden."
      <!-- "Finding a balance between my jobs in veterinary medicine and art was always one of my biggest wishes. Today besides equine veterinarian, I also work as a watercolour artist on commission. I am very thankful I found a way to combine my two life goals flowing into one passion for horses." -->
    </h5>
  </div>

  <div class="jarallax">
    <img class="jarallax-img" src="../../assets/img/prlx-hor/wendy.jpg" alt="ponypaard">
  </div>

  <div class="margin-bottom-l">
    <div class="flex justify-center margin-top-l">
      <h4>Recent werk</h4>
    </div>
    <div class="carousel-wrapper">
      <div class="main-carousel">
        <div class="carousel-cell">
          <img data-flickity-lazyload="../../assets/img/latestwork/dubai.jpg" class="carousel-cell-image" alt="dubai">
        </div>
        <div class="carousel-cell">
          <img data-flickity-lazyload="../../assets/img/latestwork/artchallenge.jpg" class="carousel-cell-image" alt="artchallenge">
        </div>
        <div class="carousel-cell">
          <img data-flickity-lazyload="../../assets/img/latestwork/104552.jpg" class="carousel-cell-image" alt="104552">
        </div>
        <div class="carousel-cell">
          <img data-flickity-lazyload="../../assets/img/latestwork/drama_at_the_racetrack.jpg" class="carousel-cell-image"
            alt="drama at the racetrack">
        </div>
      </div>
    </div>
  </div>

  <div class="jarallax jarallax--l margin-top-l">
    <img class="jarallax-img" src="../../assets/img/prlx-hor/whistlejacket.jpg" alt="andalusier">
  </div>
</div>


<!-- MOBILE -->
<!-- MOBILE -->
<!-- MOBILE -->

<div class="onlytablet">
  <div class="jarallax">
    <img class="jarallax-img" src="../../../assets/img/prlx-vert/blissfulbubble.jpg" alt="blissfulbubble">
  </div>

  <div class="margin-top-l margin-bottom-l">
    <div class="flex justify-center margin-bottom-l">
      <h5>Aquarel in opdracht voor
        <a href="https://www.instagram.com/dxbhorses/?igshid=18ww1ftiyu0sv" class="flex justify-center">
          DXB Horses Dubai
        </a>
      </h5>
    </div>
    <iframe class="timelapse margin-top-m padding-right-l padding-left-l"
      src="https://www.youtube.com/embed/qjj8JC7QTGY?autoplay=1&mute=1" autoplay mute>
    </iframe>
    <!-- <video class="timelapse" controls="controls"
        src="https://www.youtube.com/embed/qjj8JC7QTGY?autoplay=1&mute=1&html5=True"
        data-youtube-id="qjj8JC7QTGY"
        autoplay mute>
      </video> -->
  </div>

  <div class="jarallax">
    <img class="jarallax-img" src="../../assets/img/prlx-vert/eenoog.jpg" alt="eenoog">
  </div>

  <div class="flex column items-center margin-top-l margin-bottom-l">
    <h4 class="text-center text-small margin-left-m margin-right-m">
      "Balans vinden tussen mijn jobs als dierenarts en kunstenaar was altijd al een drom van mij.
      Vandaag de dag ben ik naast paarden dierenarts ook aquarel artiest in opdracht.
      Ik ben enorm dankbaar dat ik en manier heb gevonden om mijn 2 levensdromen te combineren
      in 1 passie voor paarden"
      <!-- "Finding a balance between my jobs in veterinary medicine and art was always one of my biggest wishes. Today besides equine veterinarian, I also work as a watercolour artist on commission. I am very thankful I found a way to combine my two life goals flowing into one passion for horses." -->
    </h4>
  </div>

  <div class="jarallax">
    <img class="jarallax-img" src="../../assets/img/prlx-vert/mieps.jpg" alt="mieps">
  </div>

  <div class="margin-bottom-m">
    <div class="flex justify-center margin-top-l">
      <h5>Recent werk</h5>
    </div>
    <div class="carousel-wrapper">
      <div class="main-carousel">
        <div class="carousel-cell">
          <img data-flickity-lazyload="../../assets/img/latestwork/dubai.jpg" class="carousel-cell-image" alt="dubai">
        </div>
        <div class="carousel-cell">
          <img data-flickity-lazyload="../../assets/img/latestwork/artchallenge.jpg" class="carousel-cell-image" alt="artchallenge">
        </div>
        <div class="carousel-cell">
          <img data-flickity-lazyload="../../assets/img/latestwork/104552.jpg" class="carousel-cell-image" alt="104552">
        </div>
        <div class="carousel-cell">
          <img data-flickity-lazyload="../../assets/img/latestwork/drama_at_the_racetrack.jpg" class="carousel-cell-image"
            alt="drama at the racetrack">
        </div>
      </div>
    </div>
  </div>

  <div class="jarallax jarallax--l margin-top-l">
    <img class="jarallax-img" src="../../assets/img/prlx-vert/kolewijn.jpg" alt="kolewijn">
  </div>
</div>

<footer class="margin-top-l margin-bottom-l">
  <div>
    <h4>
      "Waardevolle en aangrijpende momenten weten vangen en deze uitwerken op doek is wat mij steeds ontroert.
    </h4>
    <h4>
      Het avontuur hier naartoe haalt me elke ochtend uit bed."
    </h4>
  </div>
  <div class="margin-top-l">
    <p>Stuur me een e-mail of een bericht via social media voor persoonlijk advies omtrent uw eigen aquarel op maat.</p>
    <p>Wereldwijd bezorgd.</p>
    <!-- <p>Email or dm on my socials for personal advice about your own custom portrait.</p>
        <p>Shipped worldwide.</p> -->
  </div>
  <div class="flex justify-end margin-top-l">
    <a href="mailto:contact@marjolebbeaquarel.be">
      <img src="../../../assets/mail-icon.png" alt="mail" class="social_img margin-right-s">
    </a>
    <a href="https://www.facebook.com/Aquarel-Marjo-Lebbe-725075777564695/" target="_blank">
      <img src="../../../assets/facebook.png" alt="facebook" class="social_img margin-right-s">
    </a>
    <a href="https://www.instagram.com/marjolebbeaquarel/" target="_blank">
      <img src="../../../assets/Instagram.png" alt="instagram" class="social_img">
    </a>
  </div>
</footer>
